<%- include("../partials/header", { title: title }); %>

<div class="container">
    <h1 class="mt-5 mb-4">Customer List</h1>

    <div class="table-responsive">
        <table class="table my-4 shadow-sm p-3 bg-white rounded table-hover rounded-3 overflow-hidden w-100">
            <thead class="thead-light table-info">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (const row of res) { %>
                <tr>
                    <td><%= row.firstname %></td>
                    <td><%= row.lastname %></td>
                    <td><%= row.email %></td>
                    <td class="right">
                        <a href="/eshop/show/pro/<%= row.customer_id %>"><i class="fa fa-list-ul" aria-hidden="true"></i> </a>
                    </td>
                </tr>
                <% }; %>
            </tbody>
        </table>
    </div>
</div>

<%- include("../partials/footer"); %>
